@model IEnumerable<DataAccess.Entities.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Inventory</h1>

<p>
    <a asp-action="Create"  class="btn  btn-outline-success btn-sm">Create New</a>
</p>
<table class="table table-hover table-dark">
    <caption>inventory</caption>
    <thead>
        <tr>
            <th id="1">
                @Html.DisplayNameFor(model => model.InventoryAmount)
            </th>
            <th id="2">
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th id="3">
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th id="4"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Pname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventoryId" class="btn  btn-outline-success btn-sm">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.InventoryId" class="btn  btn-outline-success btn-sm">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.InventoryId" class="btn  btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
